[production]
autoloadernamespaces[] = "Et_"
phpSettings.display_startup_errors = 1
phpSettings.display_errors = 1
phpSettings.error_reporting = 8191
phpSettings.date.timezone = "Asia/Shanghai"

includePaths.library = APPLICATION_PATH "/../library"



bootstrap.path = APPLICATION_PATH "/Bootstrap.php"
bootstrap.class = "Bootstrap"

appnamespace = ""
resources.frontController.moduleDirectory = APPLICATION_PATH "/modules"
resources.frontController.params.displayExceptions = 1
resources.frontController.actionHelperPaths.HELPER_Prefix = "Et/Controller/Action/Helper"
resources.frontController.plugins.layoutloader = Et_Controller_Plugin_ModuleLayout

resources.layout.layoutPath = APPLICATION_PATH "/layouts/scripts"
resources.layout.layout = "bootstrap"
resources.view[] =

; resources.multidb.defaultMetadataCache = "database"
;
; resources.multidb.write.adapter = "pdo_mysql"
; resources.multidb.write.host = "localhost"
; resources.multidb.write.username = "username"
; resources.multidb.write.password = "password"
; resources.multidb.write.dbname = "zf_tots"
;
; resources.multidb.read.adapter = "pdo_mysql"
; resources.multidb.read.host = "localhost:3307"
; resources.multidb.read.username = "username"
; resources.multidb.read.password = "password"
; resources.multidb.read.dbname = "zf_tots"
; resources.multidb.read.default = true

resources.db.adapter = "pdo_mysql"
resources.db.params.host = "localhost"
resources.db.params.username = "username"
resources.db.params.password = "password"
resources.db.params.dbname = "zf_tots"

;resources.db.adapter = "PDO_SQLITE"
;resources.db.params.dbname = APPLICATION_PATH "/../data/db/guestbook.db"


resources.cachemanager.database.frontend.name = Class
resources.cachemanager.database.frontend.options.lifetime = 86400
resources.cachemanager.database.frontend.options.automatic_serialization = true
resources.cachemanager.database.backend.name = File
resources.cachemanager.database.backend.options.cache_dir = APPLICATION_PATH"/../var/cache/db"

resources.cachemanager.default.frontend.name = Core
resources.cachemanager.default.frontend.options.lifetime = 3600
resources.cachemanager.default.frontend.options.cache_id_prefix = "c_"
resources.cachemanager.default.frontend.options.automatic_serialization = true
resources.cachemanager.default.backend.name = MEMCACHED
resources.cachemanager.default.backend.options.host = "127.0.0.1"
resources.cachemanager.default.backend.options.port = 11211

resources.locale.default = "zh_CN"
;resources.locale.force = true
resources.locale.cache = "default" ; use the default cache to cache locale

resources.translate.adapter = Array
resources.translate.content = APPLICATION_PATH "/../data/language"
resources.translate.scan = Zend_Translate::LOCALE_DIRECTORY

; Optionally you can also the cache template to use for caching:
resources.translate.cache = "default"; use the default cache to cache language


resources.log.stream.writerName = "Stream"
resources.log.stream.writerParams.stream = APPLICATION_PATH "/../var/log/application.log"
resources.log.stream.writerParams.mode = "a"
resources.log.stream.filterName = "Priority"
resources.log.stream.filterParams.priority = 7

resources.log.firebug.writerName = "Firebug"
resources.log.firebug.writerParams[] =
resources.log.firebug.filterName = "Priority"
resources.log.firebug.filterParams.priority = 7

resources.mail.transport.type = smtp
resources.mail.transport.host = "smtp.tots.com"
resources.mail.transport.auth = login
resources.mail.transport.username = username
resources.mail.transport.password = password
resources.mail.transport.register = true ; True by default
resources.mail.defaultFrom.email = webmaster@tots.com
resources.mail.defaultFrom.name = "tots.com"
resources.mail.defaultReplyTo.email = webmaster@tots.com
resources.mail.defaultReplyTo.name = "tots.com"

resources.Jquery.noconflictmode = true
resources.Jquery.version = 1.6.4
;resources.Jquery.localpath = "/assets/js/jquery-1.6.4.min.js"
resources.Jquery.enable = true
resources.Jquery.ui_enable = true
resources.Jquery.ui_version = 1.8.16
;resources.Jquery.ui_localpath = "/assets/js/jquery-ui-1.8.16.custom.min.js";
resources.Jquery.cdn_ssl = false
resources.Jquery.render_mode = 255
resources.Jquery.javascriptfiles[] = "/assets/js/bootstrap-alerts.js"
resources.Jquery.javascriptfiles[] = "/assets/js/bootstrap-dropdown.js"
resources.Jquery.javascriptfiles[] = "/assets/js/bootstrap-modal.js"
resources.Jquery.javascriptfiles[] = "/assets/js/bootstrap-twipsy.js"
resources.Jquery.javascriptfiles[] = "/assets/js/bootstrap-popover.js"
resources.Jquery.javascriptfiles[] = "/assets/js/bootstrap-scrollspy.js"
resources.Jquery.javascriptfiles[] = "/assets/js/bootstrap-tabs.js"
resources.Jquery.javascriptfiles[] = "/assets/js/global.js"
resources.Jquery.stylesheets[] = "/assets/css/smoothness/jquery-ui-1.8.16.custom.css"
resources.Jquery.stylesheets[] = "/assets/css/bootstrap.min.css"
resources.Jquery.stylesheets[] = "/assets/css/global.css"
[staging : production]

[testing : production]
phpSettings.display_startup_errors = 1
phpSettings.display_errors = 1

[development : production]
phpSettings.display_startup_errors = 1
phpSettings.display_errors = 1
resources.frontController.params.displayExceptions = 1
